spring:
  application:
    name: FantasyMusic
  datasource:
    driver-class-name: ${spring.datasource.url}
    url: jdbc:mysql://${spring.datasource.mysql-connect.host}:${spring.datasource.mysql-connect.port}/fantasy_music?useUnicode=true&characterEncoding=UTF-8&serverTimezone=UTC
    username: ${spring.datasource.username}
    password: ${spring.datasource.password}
  profiles:
    active: local
  servlet:
    multipart:
      max-file-size: 100MB # 上传文件最大值
      max-request-size: 100MB # 上传请求最大值
mybatis-plus:
  configuration:
    # MyBatis 配置
    map-underscore-to-camel-case: true # 下划线转驼峰
    default-enum-type-handler: com.baomidou.mybatisplus.core.handlers.MybatisEnumTypeHandler # 全局枚举处理器
  global-config:
    # 全局配置
    db-config:
      # 数据库配置
      id-type: auto # 主键策略
logging:
  level:
    com.fantasy: debug
  console:
    enabled: true
springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha          # 标签按字母排序（支持中文拼音）
    operations-sorter: alpha    # 接口按字母排序
fm:
  jwt:
    secret-key: ${fm.jwt.secret-key}
    expire-time: ${fm.jwt.expire-time}
    token-name: ${fm.jwt.token-name}
  login:
    private-key-string: ${fm.login.private-key-string}